.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;

  &__number {
    color: gold;
  }

  &__title {
    width: 100%;
  }

  &__status {
    color: rgb(234, 0, 255);
  }

  &__list {
    height: 100%;
    max-height: 218px;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;

    &__item {
      display: flex;
      flex-direction: row;
      margin-bottom: 2px;

      &_image {
        display: flex;
        width: 50px;
        height: 50px;
        object-fit: cover;
        justify-content: center;
        overflow: hidden;
        border: 1px solid rgb(138, 0, 156);
        border-radius: 100%;
      }

      &_name {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }

      &_price {
        display: flex;
        justify-content: center;
        margin: auto 20px auto auto;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    &_date {
    }

    &_price {
    }
  }
}
