.section {
  display: flex;
  flex-direction: row;
  height: 317.8px;

  &__links {
    width: 180px;
    height: auto;
    padding: 10px;
    position: relative;

    &_link {
      text-decoration: none;
      color: rgb(255, 255, 255);

      &_active {
        opacity: 0.6;
        cursor: default;
      }
    }

    &_button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
