.container {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }
	
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &_item {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      text-align: center;

      color: rgb(233, 146, 233);

      opacity: 0.6;
    }
  }
}
