.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 600px;
  width: 100%;
  position: relative;

  &__list {
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    max-height: 440px;
    overflow: hidden;
    overflow-y: scroll;

    &__empty {
      justify-content: center;
      align-items: center;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    gap: 10px;

    &::-webkit-scrollbar-thumb {
      background: rgb(114, 17, 114);
    }

    &::-webkit-scrollbar-track {
      background: rgb(31, 31, 39);
    }

    &::-webkit-scrollbar {
      width: 10px;
    }
  }

  &__order {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
  }

  &__title {
    width: min-content;
  }

  &__price {
    display: flex;
    align-items: center;
  }
}
